@model ProjetWebFinale.Models.Films

@{
    ViewData["Title"] = "Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Détails de «@Model.TitreFrancais»</h1>

<div>
    <h4>Films</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Affiche du film :
        </dt>
        <dd class="col-sm-10">
            <img src="~/liste-vignettes/@(Model.Id).jpg" alt="Film Image" />
        </dd>
        <dt class="col-sm-2">
            Année de sortie:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnneeSortie)
        </dd>
        <dt class="col-sm-2">
            Catégorie:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categories.Description)
        </dd>
        <dt class="col-sm-2">
            Date de la dernière mise à jour:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateMAJ)
        </dd>
        <dt class="col-sm-2">
            Dernière mise à jour par:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilisateurs.NomUtilisateur)
        </dd>
        <dt class="col-sm-2">
            Résumé du film:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt class="col-sm-2">
            Durée (minutes):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DureeMinutes)
        </dd>
        <dt class="col-sm-2">
            Film Original?
        </dt>
        @if (@Model.FilmOriginal == true)
        {
            <dd class="col-sm-10">
                Oui
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Non
            </dd>
        }
        <dt class="col-sm-2">
            Nombre de disques:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NbDisques)
        </dd>
        <dt class="col-sm-2">
            Titre en francais:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitreFrancais)
        </dd>
        <dt class="col-sm-2">
            Titre original:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitreOriginal)
        </dd>
        <dt class="col-sm-2">
            Version étendue?
        </dt>
        @if (@Model.VersionEtendue == true)
        {
            <dd class="col-sm-10">
                Oui
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Non
            </dd>
        }
        <dt class="col-sm-2">
            Informations supplémentaires:
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Xtra) && Uri.IsWellFormedUriString(Model.Xtra, UriKind.Absolute))
            {
                <a href="@Model.Xtra" target="_blank">@Model.Xtra</a>
            }
            else
            {
                @Html.DisplayFor(model => model.Xtra)
            }
        </dd>

        <dt class="col-sm-2">
            Formats du film:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formats.Description)
        </dd>
        <dt class="col-sm-2">
            Réalisateur(s) du film:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Realisateurs.Nom)
        </dd>
        <dt class="col-sm-2">
            Producteur(s) du film:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producteurs.Nom)
        </dd>
        <dt class="col-sm-2">
            Utilisateur propriétaire:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurProprietaire.NomUtilisateur)
        </dd>
        <dt class="col-sm-2">
            Utilisateur emprunteur:
        </dt>
        @if (Model.EmpruntsFilms != null && Model.EmpruntsFilms.Any())
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.EmpruntsFilms.Select(fa => fa.Utilisateurs?.NomUtilisateur))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Personne n'emprunte actuellement le Films
            </dd>
        }
        <dt class="col-sm-2">
            Acteurs:
        </dt>
        @if (Model.FilmsActeurs != null && Model.FilmsActeurs.Any())
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.FilmsActeurs.Select(fa => fa.Acteurs?.Nom))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Aucun acteurs pour ce film.
            </dd>
        }

        <dt class="col-sm-2">
            Langues:
        </dt>
        @if (Model.FilmsLangues != null && Model.FilmsLangues.Any())
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.FilmsLangues.Select(fa => fa.Langues?.Langue))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Aucune langues pour ce film.
            </dd>
        }

        <dt class="col-sm-2">
            Sous-titres:
        </dt>
        @if (Model.FilmsSousTitres != null && Model.FilmsSousTitres.Any())
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.FilmsSousTitres.Select(fa => fa.SousTitres?.LangueSousTitre))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Aucun sous titres pour ce film.
            </dd>
        }

        <dt class="col-sm-2">
            Supplements:
        </dt>
        @if (Model.FilmsSupplements != null && Model.FilmsSupplements.Any())
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.FilmsSupplements.Select(fa => fa.Supplements?.Description))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Aucun supplements mentionné pour ce film.
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>

