@model IEnumerable<ProjetWebFinale.Models.Films>

@{
    ViewData["Title"] = "Liste des films";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Remove the extra views if necessary
    //TODO: Retour à l'accueil (Films de tout les utilisateurs)
}


@{
    int nbPages = (int)Math.Ceiling((double)Model.Count() / 12);
    int noPage = Context.Request.Query["noPage"].Count > 0 ? int.Parse(Context.Request.Query["noPage"][0]) : 1;

    for (var i = 1; i <= nbPages; i++)
    {
        <input type="button" value="@i" onclick="page(@i)">
    }

    string searchString = Context.Request.Query["SearchString"];
    string name = Context.Request.Query["name"];
    string strNomUtilisateur = Char.ToUpper(name[0]) + name.Substring(1);
}

<h1>Liste des films appartenant à @strNomUtilisateur</h1>

<form asp-controller="FilmsUtilisateurs" asp-action="Index" method="get">
    <p>
        <input type="hidden" name="name" value="@name" />
        Recherche par titre: <input type="text" name="SearchString" />
        <input type="submit" value="Rechercher" />
        @if (!String.IsNullOrEmpty(searchString))
        {
            <a href="/FilmsUtilisateurs?name=@name" class="btn btn-primary">Effacer la recherche</a>
        }
    </p>
</form>

<div class="d-flex flex-wrap align-content-start bg-light" style="height:1000px">
    @{
        var index = 0;
    }
    @foreach (var item in Model.Skip((noPage - 1) * 12).Take(12))
    {
        index++;
        <div class="card" style="width:300px; margin: 5px;">
            <img src="~/liste-vignettes/@(item.Id).jpg" alt="./liste-vignettes/@(item.Id).jpg" />
            <div class="card-body">
                <p class="card-text"> <b>Titre :</b> @Html.DisplayFor(modelItem => item.TitreFrancais)</p>
                <p class="card-text">
                    <b>Utilisateur qui possède l'article :</b> @strNomUtilisateur<br>
                    <a href="/FilmsUtilisateurs/Details?id=@item.Id" class="btn btn-success">Voir les détails</a><br>
                    <form asp-controller="FilmsUtilisateurs" asp-action="Email" method="post">
                        <input type="hidden" name="courrielRecipient" value=""/>
                        <input type="hidden" name="utilisateur" value="@name">
                        <input type="submit" class="btn btn-primary" value="S'approprier ce DVD" />
                    </form><br>
                    <form asp-controller="FilmsUtilisateurs" asp-action="Email" method="post">
                        <input type="hidden" name="courrielRecipient" value="@item.UtilisateurProprietaire.Courriel"/>
                        <input type="hidden" name="utilisateur" value="@name">
                        <textarea name="message" rows="4" cols="25" placeholder="Message destiné à cet utilisateur..." style="resize:none"></textarea>
                        <input type="submit" class="btn btn-primary" value="Contacter" />
                    </form>
                </p>

            </div>
        </div>
    }

</div>

<script>
    function page(page) {
        location.href = '?name=' + '@name' + '&noPage=' + page;
    }
</script>