@model ProjetWebFinale.Models.Films

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression d'un DVD</h1>

<h3>Êtes-vous sûr de vouloir le supprimer ?</h3>
<div>
    <h4>Films</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            L'affiche de film :
        </dt>
        <dd class="col-sm-10">
            <img src="~/liste-vignettes/@(Model.Id).jpg" alt="Film Image" />
        </dd>
        <dt class = "col-sm-2">
           Année de sortie du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnneeSortie)
        </dd>
        <dt class = "col-sm-2">
           Categorie du films:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.Description)
        </dd>
        <dt class = "col-sm-2">
            Date du dernière mises à jour:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMAJ)
        </dd>
        <dt class = "col-sm-2">
            Resumé du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt class = "col-sm-2">
           Durée en minute du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DureeMinutes)
        </dd>
        <dt class = "col-sm-2">
            Film Original ?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmOriginal)
        </dd>       
        <dt class = "col-sm-2">
            Nombre de disques:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbDisques)
        </dd>
        <dt class = "col-sm-2">
            Titre en Francais du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitreFrancais)
        </dd>
        <dt class = "col-sm-2">
           Titre en Original du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitreOriginal)
        </dd>
        <dt class = "col-sm-2">
            Version Etendue ?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionEtendue)
        </dd>
        <dt class = "col-sm-2">
            Extra info:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xtra)
        </dd>       
        <dt class = "col-sm-2">
            Formats du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formats.Description)
        </dd>
        <dt class = "col-sm-2">
            Realisateurs du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Realisateurs.Nom)
        </dd>
        <dt class = "col-sm-2">
            Producteurs du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producteurs.Nom)
        </dd>        
        <dt class = "col-sm-2">
            Utilisateur proprietaire du DVD:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurProprietaire.NomUtilisateur)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retour au liste</a>
    </form>
</div>
