@model ProjetWebFinale.Models.Films

@{
    ViewData["Title"] = "Details";
}

<h1>Détails d'un DVD</h1>

<div>
    <h4>Films</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            L'affiche de film :
        </dt>
        <dd class="col-sm-10">
            <img src="~/liste-vignettes/@(Model.Id).jpg" alt="Film Image" />
        </dd>
        <dt class = "col-sm-2">
           Année de sortie du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnneeSortie)
        </dd>
        <dt class = "col-sm-2">
           Categorie du films:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.Description)
        </dd>
        <dt class = "col-sm-2">
            Date du dernière mises à jour:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMAJ)
        </dd>
        <dt class = "col-sm-2">
            Resumé du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt class = "col-sm-2">
           Durée en minute du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DureeMinutes)
        </dd>
        <dt class = "col-sm-2">
            Film Original ?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmOriginal)
        </dd>       
        <dt class = "col-sm-2">
            Nombre de disques:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbDisques)
        </dd>
        <dt class = "col-sm-2">
            Titre en Francais du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitreFrancais)
        </dd>
        <dt class = "col-sm-2">
           Titre en Original du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitreOriginal)
        </dd>
        <dt class = "col-sm-2">
            Version Etendue ?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionEtendue)
        </dd>
        <dt class = "col-sm-2">
            Extra info:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xtra)
        </dd>       
        <dt class = "col-sm-2">
            Formats du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formats.Description)
        </dd>
        <dt class = "col-sm-2">
            Realisateurs du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Realisateurs.Nom)
        </dd>
        <dt class = "col-sm-2">
            Producteurs du film:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producteurs.Nom)
        </dd>        
        <dt class = "col-sm-2">
            Utilisateur proprietaire du DVD:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurProprietaire.NomUtilisateur)
        </dd>
         <dt class="col-sm-2">
            Utilisateur emprenture du DVD:
        </dt>
        @if (Model.EmpruntsFilms != null && Model.EmpruntsFilms.Any())
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.EmpruntsFilms.Select(fa => fa.Utilisateurs?.NomUtilisateur))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Personne n'emprunte actuellement le Films
            </dd>
        }
        <dt class="col-sm-2">
            Acteurs:
        </dt>
        @if (Model.FilmsActeurs != null && Model.FilmsActeurs.Any())
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.FilmsActeurs.Select(fa => fa.Acteurs?.Nom))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Aucun Acteurs mentionné pour ce film.
            </dd>
        }

        <dt class="col-sm-2">
            Langues:
        </dt>
        @if (Model.FilmsLangues != null && Model.FilmsLangues.Any())
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.FilmsLangues.Select(fa => fa.Langues?.Langue))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Aucun langue mentionné pour ce film
            </dd>
        }

        <dt class="col-sm-2">
            SousTitres:
        </dt>
        @if (Model.FilmsSousTitres != null && Model.FilmsSousTitres.Any())
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.FilmsSousTitres.Select(fa => fa.SousTitres?.LangueSousTitre))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Aucun sous titres mentionné pour ce film
            </dd>
        }

        <dt class="col-sm-2">
            Supplements:
        </dt>
        @if (Model.FilmsSupplements != null && Model.FilmsSupplements.Any())
        {
            <dd class="col-sm-10">
                @string.Join(", ", Model.FilmsSupplements.Select(fa => fa.Supplements?.Description))
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Aucun supplements mentionné pour ce film
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour au liste</a>
</div>
