@model IEnumerable<ProjetWebFinale.Models.Films>

@{
    ViewData["Title"] = "Liste des films";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste des films</h1>

<p>
    <a asp-action="Create">Ajouter un DVD</a>
</p>

@{
    int nbPages = (int)Math.Ceiling((double)Model.Count() / 12);
    int noPage = Context.Request.Query["noPage"].Count > 0 ? int.Parse(Context.Request.Query["noPage"][0]) : 1;

    for (var i = 1; i <= nbPages; i++)
    {
    <input type="button" value="@i" onclick="page(@i)">
    }

    string searchString = Context.Request.Query["SearchString"];
}

<form asp-controller="Films" asp-action="Index" method="get">
    <p>
        Recherche par titre: <input type="text" name="SearchString" />
        <input type="submit" value="Rechercher" />
        @if (!String.IsNullOrEmpty(searchString))
        {
            <a href="/Films" class="btn btn-primary">Effacer la recherche</a>
        }
    </p>
</form>

<div class="d-flex flex-wrap align-content-start bg-light" style="height:1000px">
    @{
        var index = 0;
    }
    @foreach (var item in Model.Skip((noPage - 1) * 12).Take(12))
    {
        index++;
        <div class="card" style="width:300px; margin: 5px;">
            <img src="~/liste-vignettes/@(item.Id).jpg" alt="./liste-vignettes/@(item.Id).jpg" />
            <div class="card-body">
                <p class="card-text"> <b>Titre :</b> @Html.DisplayFor(modelItem => item.TitreFrancais)</p>
                <p class="card-text"> <b>Utilisateur qui possède l'article :</b> <a href="/FilmsUtilisateurs/Index?name=@item.UtilisateurProprietaire.NomUtilisateur">@Html.DisplayFor(modelItem => item.UtilisateurProprietaire.NomUtilisateur)</a></p>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </div>
        </div>
    }

</div>

<script>
    function page(page) {
        location.href = '?noPage=' + page;
    }
</script>