﻿@using Microsoft.AspNetCore.Identity
@model IEnumerable<ProjetWebFinale.Models.Films>
@inject UserManager<Utilisateurs> _userManager

@{
    ViewData["Title"] = "Liste des films";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var user = await _userManager.GetUserAsync(User);
}

<h1>Liste des films</h1>
@if (user != null && user.TypeUtilisateur != 1)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Ajouter un DVD</a>
    </p>
}

<div class="sTriEtAffichage">
<div class="sSection">
        <span class="fw-bold">Page: </span>
    @{
        int nbFilms = Context.Request.Query["nbFilms"].Count > 0 ? int.Parse(Context.Request.Query["nbFilms"][0]) : 12;
        int nbPages = (int)Math.Ceiling((double)Model.Count() / nbFilms);
        int noPage = Context.Request.Query["noPage"].Count > 0 ? int.Parse(Context.Request.Query["noPage"][0]) : 1;

        for (var i = 1; i <= nbPages; i++)
        {
            if (i == noPage)
            {
                <input type="button" value="@i" onclick="page(@i)" class="sSelected">
            }
            else
            {
                <input type="button" value="@i" onclick="page(@i)" class="sNonSelected">
            }
    }

    string searchString = Context.Request.Query["SearchString"];
}
</div>
<div class ="sSection">
        <span class="fw-bold">Nombre de films par page: </span>
    @{

        for (var i = 4; i <= 32; i+=4)
        {
            if (nbFilms == i)
            {
                <input type="button" value="@i" onclick="nbFilms(@i)" class="sSelected">
            }
            else
            {
                <input type="button" value="@i" onclick="nbFilms(@i)" class="sNonSelected">
            }
        }
    }
</div>
<div class="sSection">
        @{
            string tri = Context.Request.Query["tri"].Count > 0 ? (Context.Request.Query["tri"][0]) : "";
        }
    <span class="fw-bold">Tri: </span>
    <div>
    <label for="radioUtilisateur"> Par nom d'utilisateur </label>
    <input type="radio" id="radioUtilisateur" name="tri" onclick="tri('nom')" @if (tri == "nom") { <text>checked</text> }/>
    </div>
    <div>
    <label for="radioUtilisateur"> Par titre de film </label>
            <input type="radio" id="radioTitre" name="tri" onclick="tri('titre')" @if (tri == "titre") { <text>checked</text> }/>
    </div>
    <div>
    <label for="radioUtilisateur"> Par nom d'utilisateur et titre de film </label>
            <input type="radio" id="radioEnsemble" name="tri" onclick="tri('ensemble')" @if (tri == "ensemble") { <text>checked</text> }/>
    </div>
</div>
</div>
<br />
<form asp-controller="Films" asp-action="Index" method="get">
    <p>
        <b class="text-primary">Recherche par titre:</b> <input type="text" placeholder="Titre du film" name="SearchString" />
        <input type="submit" class="btn btn-primary" value="Rechercher" />
        @if (!String.IsNullOrEmpty(searchString))
        {
            <a href="/Films" class="btn btn-primary">Effacer la recherche</a>
        }
    </p>
</form>


<div class="d-flex flex-wrap align-content-start bg-light" style="height:1000px">
    @{
         IEnumerable<ProjetWebFinale.Models.Films> sortedModel = Model;

        if (tri == "nom")
        {
            sortedModel = Model.OrderBy(film => film.UtilisateurProprietaire.NomUtilisateur);
        }
        else if (tri == "titre")
        {
            sortedModel = Model.OrderBy(film => film.TitreFrancais);
        }
        else if (tri == "ensemble")
        {
            sortedModel = Model.OrderBy(film => film.TitreFrancais).OrderBy(film => film.UtilisateurProprietaire.NomUtilisateur);
        }
        var index = 0;
    }

    @foreach (var item in sortedModel.Skip((noPage - 1) * nbFilms).Take(nbFilms))
    {
        index++; 
       

        <div class="card" style="width:300px; margin: 5px;">
            <img src="~/liste-vignettes/@(item.Id).jpg" alt="./liste-vignettes/@(item.Id).jpg" width="300" height="442"/>
            <div class="card-body">
                <p class="card-text"> 
                    <b>Titre :</b> 
                    @Html.DisplayFor(modelItem => item.TitreFrancais)
                </p>
                <p class="card-text"> 
                    <b>Utilisateur qui possède l'article :</b> <br>
                    <a href="/FilmsUtilisateurs/Index?name=@item.UtilisateurProprietaire.NomUtilisateur">@Html.DisplayFor(modelItem => item.UtilisateurProprietaire.NomUtilisateur)</a>
                </p>
                <div>
                    @if ((user != null && user.Id == item.NoUtilisateurProprietaire) || user.TypeUtilisateur == 1 || user.TypeUtilisateur == 2)
                    {
                        <a class="btn btn-primary btn-custom" asp-action="Edit" asp-route-id="@item.Id">Modifier </a> 
                        <a> | </a>
                        <a class="btn btn-success btn-custom" asp-action="Details" asp-route-id="@item.Id">Details </a> 
                        <a> | </a>
                        <a class="btn btn-danger btn-custom" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    }
                    else
                    {
                        <a class="btn btn-success btn-custom" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a> | </a>
                        <a class="btn btn-primary btn-custom" asp-action="Appropriation" asp-route-id="@item.Id">Appropriation</a>
                    }                   
                </div>
            </div>
        </div>
    }

</div>

<script>
    var noPage = @noPage;
    var valeurNbFilms = @nbFilms;
    var valeurTri = '@tri';

    function page(page) {
        location.href = '?noPage=' + page + '&nbFilms=' + valeurNbFilms + '&tri=' + valeurTri;
    }

    function nbFilms(nb) {
        location.href = '?noPage=' + noPage + '&nbFilms=' + nb + '&tri=' + valeurTri;
    }

    function tri(tri) {
        location.href = '?noPage=' + noPage + '&nbFilms=' + valeurNbFilms + '&tri=' + tri;
    }
</script>